*{
    margin: 0;
    padding: 0;
}

#bada{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    padding: 20px;
    .box{
        width: 200px;
        height: 300px;
        border: 1px solid green;
       
    }
}

#para1,#para2{
    display: flex;
    gap: 20px;
    align-items: center;
    img{
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
}

@media screen and(max-width: 1000px){
    #bada{
        
        grid-template-columns: auto auto auto auto;
        row-gap: 20px;
    
    }
}
@media screen and(max-width:786px){
    #bada{
        
        grid-template-columns: auto auto;
        row-gap: 20px;
        
    }
}

