*{
    margin: 0;
    padding: 0;
}

#hw{
    width: 400px;
    height: 2.5rem;
    border: 2px solid rgb(45, 234, 255);
    text-wrap-mode: nowrap;
    overflow: hidden;
    transition: width 2s;
}

#hw:hover{
    background-color: #f7e7a4;
    width: 600px;
    color: brown;
    transition: width 2s;
                
    }

#welcome{
    background-color:rgb(141, 247, 222);
}

#welcome::after{
    content: "❤️👌";
}

#welcome::before{
    content: "❤️";
}

.d::before{
    content: "😀";
}

#box1, #box2, #box3, #box4, #box5
{
    border: 1px solid #000;
    height: 20px;
    width: 20px;
}

#box1:hover{
    width: 500px;
    /* margin: 100px 100px; */
    transition: width 1s linear;
}

#box2:hover{
    width: 500px;
    /* margin: 100px 100px; */
    transition: width 1s ease-in;
}

#box3:hover{
    width: 500px;
    /* margin: 100px 100px; */
    transition: width 1s ease-out;
}

#box4:hover{
    width: 500px;
    /* margin: 100px 100px; */
    transition: width 1s ease-in-out;
}